body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

svg {
   
  margin: 0.5em;
}

.navbar-item {
  background-color :rgb(107, 107, 107);
  font-weight: 700;
}

.hero {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title,
.page-title {
	
	font-weight: 700;
	margin-bottom: 1rem;
}

